@import "@/components/_variables.module.scss";

.card,
.cardAlt {
  width: 950px;
  height: 300px;
  margin-bottom: 100px;
  background-color: $COLOR_SECONDARY;
  box-shadow: 5px 5px 15px #0d0f10, -5px -5px 15px #353b42;
  border-radius: 20px;
  overflow: hidden;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;

  .propic {
    height: 100%;
    width: 350px;
    position: relative;
  }

  .desc {
    width: calc(100% - 350px);
    padding: 30px;
    overflow: hidden;

    h4 {
      color: $COLOR_PRIMARY;
    }

    p {
      margin-top: 20px;
      color: $COLOR_QUINTERNARY;
    }
  }

  .pop {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 1000px;
  }
}

.cardAlt {
  margin-left: auto;
}

@media screen and (max-width: 1300px) {
  .card,
  .cardAlt {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1100px) {
  .card,
  .cardAlt {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .card .propic,
  .cardAlt .propic {
    width: 250px;
  }

  .card .desc {
    width: 100%;
  }

  .cardAlt .desc {
    width: 100%;
  }

  .card .desc {
    margin-right: auto;
  }

  .cardAlt .propic {
    margin-left: auto;
  }
}

@media screen and (max-width: 650px) {
  .card {
    height: 450px;
    display: flex;
    flex-direction: column;

    .propic {
      height: 200px;
      width: 100%;
    }
  }

  .cardAlt {
    height: 450px;
    display: flex;
    flex-direction: column-reverse;

    .desc {
      margin-bottom: auto;
    }

    .propic {
      height: 200px;
      width: 100%;
    }
  }
}
