@import "@/components/_variables.module.scss";

.account {
  display: flex;
  position: relative;
  min-height: 300px;

  .image {
    width: 150px;
    height: 150px;
    position: relative;
    margin: auto 20px auto auto;
  }

  .info {
    margin: auto auto auto 20px;

    .name {
      color: white;
      font-weight: bold;
      font-size: 32px;
    }

    .llogin {
      color: white;
      text-transform: capitalize;
    }

    .role {
      font-size: 17px;
      color: white;
      margin: 5px 0 10px 0;
      text-transform: capitalize;
    }

    .logout {
      padding: 5px 10px;
      font-size: 17px;
      color: white;
      background-color: #30a458;
      border: none;
      border-radius: 5px;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  margin: 0 $LATERAL_PADDING $LATERAL_PADDING $LATERAL_PADDING;

  .loginWrapper {
    margin: 40px auto;
    display: flex;
    flex-direction: column;

    input {
      height: 45px;
      width: 260px;
      padding: 3px 5px 3px 10px;
      border-radius: 5px;
      border: none;
      font-size: 15px;
      background: linear-gradient(145deg, #1e2125, #23282c);
      box-shadow: 5px 5px 29px #0d0f10, -5px -5px 29px #353b42;
      color: $COLOR_QUINTERNARY;
      margin: 20px 0;
    }

    button {
      background-color: $COLOR_QUATERNARY;
      color: $COLOR_QUINTERNARY;
      border: none;
      border-radius: 5px;
      margin: 25px auto 0 0;
      padding: 7px 20px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }

    .wrongpu {
      color: red;
    }
  }
}

.spinnerWrapper {
  display: flex;
  min-height: 800px;

  .loader {
    margin: auto;
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
  }

  .loader:before,
  .loader:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
  }
  .loader:after {
    box-shadow: 0 2px 0 #30a458 inset;
    animation: rotate 2s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
