$COLOR_PRIMARY: #8244a7;
$COLOR_SECONDARY: #212529;
$COLOR_TERTIARY: #1a1c1f;
$COLOR_QUATERNARY: #30a458;
$COLOR_QUINTERNARY: rgba(255, 255, 255, 0.6);
$COLOR_SEXTERNARY: #838893;

$NAV_HEIGHT: 100px;
$FOOTER_HEIGHT: 450px;
$LATERAL_PADDING: 5vw;
