@import "@/components/_variables.module.scss";

.hero {
  width: 100%;
  height: 35vh;
  box-shadow: 0 0 18px 1px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 35vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: -2;
    background-image: url("../public/background.webp");
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35vh;
    z-index: -1;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.8)
    );
  }

  h3 {
    color: white;
    font-size: 56px;
    font-weight: bold;
    margin: auto auto 0 auto;
  }

  p {
    margin: 20px auto auto auto;
    display: inline-block;
  }

  a {
    color: $COLOR_QUINTERNARY;
    font-size: 19px;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
  }

  .active {
    color: $COLOR_PRIMARY;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    padding-top: 60px;
    h3 {
      font-size: 30px;
    }

    p {
      font-size: 12px;
      margin-top: 10px;
    }

    a {
      font-size: 15px;
    }
  }
}
