@import "./variables.module";

.logo_wrapper {
  display: flex;
  flex-direction: column;

  p {
    color: white;
    font-size: 16px;
    margin: 5px 0 auto 0;
    position: relative;

    a {
      color: white;
      font-weight: bold;
    }
  }

  .logo_cnt {
    margin: auto 0 0 0;
    display: flex;

    img {
      margin: auto;
    }

    h3 {
      color: white;
      font-size: 24px;
      margin: auto;
      margin-left: 5px;
    }
  }
}
.links_cnt {
  display: flex;
  height: 100%;
  margin-left: auto;

  ul {
    display: flex;
    margin: auto;
    list-style: none;

    li:not(.profile) {
      margin: 5px;
      padding: 5px 10px;
      max-height: 29px;
      transition: 0.15s;
      position: relative;
      cursor: pointer;
      z-index: 2;

      &::before {
        content: "";
        z-index: -1;
        border-radius: 5px;
        width: 0%;
        position: absolute;
        background-color: $COLOR_PRIMARY;
        height: 0%;
        left: 0;
        bottom: 0;
        transition: 0.15s;
        animation: linkFiller-out 0.25s forwards;
      }

      &:hover::before {
        content: "";
        animation: linkFiller-in 0.25s forwards;
      }

      &:hover a {
        transition: 0.15s;
        color: rgba(255, 255, 255, 1);
      }

      a {
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        transition: 0.15s;
      }
    }

    .profile {
      margin: 5px;
      background-color: $COLOR_PRIMARY;
      border-radius: 6px;
      height: 30px;
      cursor: pointer;

      &:hover span {
        transition: 0.15s;
        color: white;
      }

      a {
        padding: 0 0 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;

        span {
          margin-right: 5px;
          color: rgba(255, 255, 255, 0.8);
          text-decoration: none;
          transition: 0.15s;
        }
      }
    }

    .active {
      &::after {
        content: "";
        z-index: -1;
        border-radius: 5px;
        width: 100%;
        position: absolute;
        background-color: $COLOR_PRIMARY;
        height: 100%;
        left: 0;
        bottom: 0;
      }

      a {
        color: rgb(255, 255, 255) !important;
      }
    }
  }
}

@keyframes linkFiller-in {
  0% {
    width: 0%;
    height: 1%;
  }

  75% {
    width: 100%;
    height: 1%;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes linkFiller-out {
  0% {
    width: 100%;
    height: 100%;
  }

  25% {
    width: 100%;
    height: 1%;
  }

  100% {
    width: 0%;
    height: 1%;
  }
}

@media screen and (max-width: 800px) {
  .links_cnt ul li {
    font-size: 14px;
    margin: 3px;
    padding: 3px 5px;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .logo_cnt {
      img {
        margin: auto 5px auto 0;
      }
    }

    .links_cnt {
      margin-left: 0;
      margin-right: auto;

      ul {
        margin: 0 0 auto 0;
      }
    }
  }
}
